    .mycolumn {
        background-color: skyblue;
        padding: 10px;
    }
    
    .mybtn {
        background-color: lightblue;
        padding: 10px;
        text-align: center;
    }
    
    .myad {
        background-color: royalblue;
        padding: 10px 20px;
        text-align: center;
    }